.splash-img {
  height: 500px;
  width: 800px;
}

.profile-img {
  height: 200px;
  width: 250px;
}

.featured-artists {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
}
