.profile-page {
  position: relative;
}

.edit-profile-button {
  position: absolute;
  top: 380px;
  left: 180px;
  width: 150px;
  background-color: #FC5647;
  border: none;
  height: 30px;
  color: white;
  font-family: inherit;
  border-radius: 5px;
}

.profile-page-container {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 45px;
}

.profile-page-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
}

.profile-page-img {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
  margin: 30px 70px 20px auto;
  border-radius: 5px;
}

.image-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.image-btn > button {
  margin-left: -55px;
  width: 150px;
  background-color: #FC5647;
  border: none;
  height: 30px;
  color: white;
  font-family: inherit;
  border-radius: 5px;
}

.profile-rating {
  margin-top: -70px;
}

.profile-rating > span {
  color: #FC5647;
}

.profile-page-info > h2 {
  font-family: "Courgette", cursive;
  color: #FC5647;
  font-size: 30px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.comments-container > h2 {
  font-family: "Courgette", cursive;
  color: #FC5647;
  font-size: 30px;
}
